.section--nullified {
  @media screen and (max-width: 1199px) {
    display: none;
  }
  padding-top: 0;
}
.doing {
  display: flex;
}

.doing__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.doing__text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
