.footer {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: var(--secondary-bg-color);
}
.footer__text {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
.footer__thumb {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
  align-items: baseline;
}
.addres-thumb {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    width: 231px;
    margin-right: 70px;
  }
}

.address {
  margin-top: 20px;
  font-style: normal;
}

.address__item--white-color,
.logo--white {
  color: var(--primary-white-color);
}
.address__link {
  color: var(--footer-text-color);
  transition: color 250ms var(--cubic);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.address__item:not(:first-child) {
  margin-top: 9px;
}
.networks-thumb {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
}

.networks__link--white-color {
  color: var(--primary-white-color);
  background-color: var(--icons-footer-bg);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.form-subscribe {
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.form-subscribe__thumb {
  display: flex;
  @media screen and (max-width: 1199px) {
    flex-direction: column;
    align-items: center;
  }
}
.form-subscribe__mail {
  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 12px;
    width: 358px;
  }

  height: 50px;
  padding: 15px 16px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  color: var(--primary-white-color);
  transition: border-color 250ms var(--cubic);

  &:focus,
  &:hover {
    border-color: var(--primary-white-color);
  }
  &::placeholder {
    color: var(--footer-text-color);
    font-size: 16px;
    line-height: 1.25;
  }
}

.form-subscribe__icon {
  margin-left: 10px;
}

.footer-tab {
  @media screen and (min-width: 768px) {
    display: flex;

    align-items: baseline;
  }
  @media screen and (max-width: 1199px) {
    justify-content: space-around;
    margin-bottom: 60px;
  }
}
