.works {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}
.works__item {
  @media screen and (min-width: 320px) {
    min-width: 300px;
  }
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    margin-right: 30px;
    margin-bottom: 30px;
    width: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
    margin-bottom: 30px;
    width: calc((100% - 90px) / 3);
  }

  border: 1px solid var(--works-line-color);
}
.works__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow 250ms var(--cubic);
  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  }
}
.works-thumb {
  position: relative;
  overflow: hidden;
}

.overflow {
  position: absolute;
  top: 0;
  transform: translateY(100%);
  transition: transform 250ms var(--cubic), opacity 250ms var(--cubic);
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-overflow-works);

  .works__link:hover &,
  .works__link:focus & {
    transform: translateY(0);
    opacity: 1;
  }
}

.overflow__text {
  @media screen and (min-width: 320px) {
    font-size: 16px;
    line-height: 1.4;
  }
  @media screen and (min-width: 480px) {
    font-size: 18px;
    line-height: 1.56;
  }
  padding: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  color: var(--primary-white-color);
}

.card-thumb {
  padding: 20px 24px;
  flex-grow: 1;
}
.works__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.works__text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}
