.networks {
  display: flex;
}

.networks__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
  }
}
.networks__link--icons-color {
  color: var(--icons-color);
}

.networks__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.networks__item:not(:last-child) {
  margin-right: 10px;
}
