body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, Sans-Serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
}
